<form action='@Url.Action("Comenzar")' method="post">
    <h1>Elige la Dificultad</h1>
    <div class="configuracion">
        <input type="hidden" id="dificultad" value=-1>
        <input type="hidden" id="categoria" value=-1>
        <button type="button" class="btn btn-primary active btnCate" data-bs-toggle="button" onclick="elegirDificultad(-1)">Mezclado</button>
        @foreach (Dificultad item in ViewBag.listaDificultades)
        {
                <button type="button" class="btn btn-primary btnCate" data-bs-toggle="button" onclick="elegirDificultad(@item.IDDificultad)">@item.nombre</button>
        }
    </div>
    <h1>Elige la Categoria</h1>
    <div class="configuracion">
        <button id="-1" type="button" class="btn btn-primary active btnCate" data-bs-toggle="button" onclick="elegirCategoria(-1)">Mezclado</button>
        @foreach (Categoria item in ViewBag.listaCategorias)
        {
            <button type="button" class="btn btn-primary btnCate" data-bs-toggle="button" onclick="elegirCategoria(@item.IDCategoria)">@item.nombre</button>
        }
    </div>
    <div class="index-menu">
        <button type="submit" class="button-85"><b>Jugar</b></button>
    </div>
</form>

