@{
    ViewData["Title"] = "Juego";
}
<div style="display: flex; flex-direction: column">
<div style="float: left; clear: both;">
<h3>@ViewBag.username</h3>
<h4>Puntaje: @ViewBag.puntajeActual </h4>
</div>
<div>
  <h4>Pregunta N°@ViewBag.pregunta.IDPregunta</h4>
  <h1>@ViewBag.pregunta.enunciado</h1>
</div>

<div style="width: 100%; display: flex;">
<form method="post" action='@Url.Action("VerificarRespuesta", new {IDPregunta=@ViewBag.pregunta.IDPregunta})'>
<p>Elija la respuesta:</p>
@foreach (Respuesta res in ViewBag.respuestas)
{
    <button type='submit' name='IDRespuesta' value="@res.IDRespuesta">hola</button>
}
</form>
<div>

<div class="container">
  <div class="bar-container">
    <div class="bar"></div>
  </div>
  <div class="timer">Tiempo restante:  <span id="countdown">30</span> segundos</div>
</div>
</div>
</div>