@{
    ViewData["Title"] = "Juego";
}
<div style="display: flex; flex-direction: column">
  <div style="float: right; clear: both;">

    <div class="header">
      <div class="user-info">
        <h3>@ViewBag.username</h3>
        <hr class="vertical-line">
        <h3>Puntaje: @ViewBag.puntajeActual</h3>
      </div>
    </div>
  </div>
  <div class="center-container">
    <div class="center-box" style="margin-top: -10%;">
      <div class="center-text">
        <h4>Pregunta N°@ViewBag.pregunta.IDPregunta</h4>
        <hr class="horizontal-line">
        <h1>@ViewBag.pregunta.enunciado</h1>
      </div>
      <div class="button-container">
        <div class="button-row">
          <form method="post" class="button-form" action='@Url.Action("Jugar", new {IDPregunta=@ViewBag.pregunta.IDPregunta})'>
          <input type="hidden" name="IDRespuesta" id="Respuesta" value=-1>
          @{
           int cont = 1;
          }
            @foreach (Respuesta res in ViewBag.respuestas)
            {
              if(cont<5) {
              @if (res.correcta){
                <button type="button" id='V' onclick='respuesta(@res.IDRespuesta);'>@res.contenido</button>
              }
              else{
                <button type="button" id='F' onclick='respuesta(@res.IDRespuesta);'>@res.contenido</button>
              }
              }
              cont = cont + 1;
            }
            <div  style="margin-top:5%; display:flex; justify-content: center;">
        <button id='Continuar' hidden type="submit" class="button-85" style=" width: 100%">
            <b style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: larger;">Próxima pregunta</b>
        </button>
    </div>
          </form>
        </div>
      </div>
      <div class="container" style="margin-top: 2%; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items: center;">
        <div class="bar-container" style="margin: 0px">
          <div class="bar"></div>
        </div>
        <div class="timer">Tiempo restante:  <span id="countdown">30</span> segundos</div>
      </div>
    </div>
  </div>
</div>
